<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB0eQDvvgC7WtkSmqPFcp38O1k_AT0blgw</string>
	<key>GCM_SENDER_ID</key>
	<string>935880142438</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.xlearning</string>
	<key>PROJECT_ID</key>
	<string>x-learning-376d2</string>
	<key>STORAGE_BUCKET</key>
	<string>x-learning-376d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:935880142438:ios:10d8c0357b7bd92f4147a7</string>
</dict>
</plist>